recursive-include baseapp_for_restapi_backend_with_swagger *

global-exclude *.pyc


include versioneer.py
include src/baseapp_for_restapi_backend_with_swagger/_version.py
include baseapp_for_restapi_backend_with_swagger/_version.py
